<div class= "text-center">
<h3>Tu as payerr !! thx you de toute la team7 </h3>
<img src="https://www.reactiongifs.us/wp-content/uploads/2018/09/Thank-u.gif" alt="" /></br></br></br>
<img src="http://bestanimations.com/Holidays/MothersDay/i-love-you-mom-cute-cat-greeting-card-gif.gif" alt="" />
</div>

